In [4]:
import pandas as pd
df = pd.read_csv("D:/python test/21aug/cars_ridge.csv")
df.head()

,mileage,engine_size,horsepower,torque,doors,airbags,weight,fuel_efficiency,brand_score,luxury_index,price_k
0,82693.0,2.07,97.0,146.0,4,7,1870.0,27.1,5.6,3.5,53.3
1,106256.0,3.46,212.0,263.0,4,7,2055.0,23.0,7.5,4.6,61.4
2,100445.0,2.69,151.0,247.0,2,2,2059.0,22.2,3.8,2.4,53.5
3,55616.0,1.33,73.0,132.0,4,2,1631.0,30.4,4.6,3.7,34.1
4,74804.0,1.48,60.0,193.0,4,7,1476.0,30.4,5.0,3.8,38.3

In [5]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression, RidgeCV
from sklearn.metrics import r2_score, mean_squared_error



X = df[['mileage', 'engine_size', 'horsepower', 'torque', 'doors',
        'airbags', 'weight', 'fuel_efficiency', 'brand_score', 'luxury_index']]
y = df['price_k']

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

ols = LinearRegression()
ols.fit(X_train, y_train)
y_pred_ols = ols.predict(X_test)

alphas = np.logspace(-3, 3, 100)

ridge = RidgeCV(alphas=alphas, cv=5)

ridge.fit(X_train, y_train)

y_pred_ridge = ridge.predict(X_test)


print("Intercept:", ols.intercept_)

print("Coefficients:", dict(zip(X.columns, ols.coef_)))

print("R² (test):", r2_score(y_test, y_pred_ols))

print("RMSE (test):", np.sqrt(mean_squared_error(y_test, y_pred_ols)))


print("Best alpha:", ridge.alpha_)
print("Intercept:", ridge.intercept_)
print("Coefficients:", dict(zip(X.columns, ridge.coef_)))
print("R² (test):", r2_score(y_test, y_pred_ridge))
print("RMSE (test):", np.sqrt(mean_squared_error(y_test, y_pred_ridge)))

Intercept: -1.8466052202220737
Coefficients: {'mileage': np.float64(-9.063346268220223e-05), 'engine_size': np.float64(8.212965933892397), 'horsepower': np.float64(0.03746584114458518), 'torque': np.float64(0.013905041806934193), 'doors': np.float64(1.6571900150751406), 'airbags': np.float64(0.8824029054458857), 'weight': np.float64(0.006448122579135962), 'fuel_efficiency': np.float64(0.06761285681739054), 'brand_score': np.float64(0.4415319383717603), 'luxury_index': np.float64(1.0526942208414498)}
R² (test): 0.5132149040032732
RMSE (test): 7.634287933694163
Best alpha: 284.8035868435805
Intercept: 10.375186425221592
Coefficients: {'mileage': np.float64(-9.63442236973913e-05), 'engine_size': np.float64(0.14229269796296734), 'horsepower': np.float64(0.07844917796760953), 'torque': np.float64(0.030025876728077026), 'doors': np.float64(0.41768166562070735), 'airbags': np.float64(0.6265887529955786), 'weight': np.float64(0.012442558400922446), 'fuel_efficiency': np.float64(-0.2010164215406605), 'brand_score': np.float64(0.44519877647545053), 'luxury_index': np.float64(0.6530225767406417)}
R² (test): 0.5065496890489523
RMSE (test): 7.68637577733821